body {
    font-family: 'Lato', sans-serif;
    box-sizing: border-box;
    margin: 0;
    
}

h1 {
    font-family: 'Oswald', sans-serif;
    font-size: 30px;
    padding-bottom: 15px;
    text-align: center;
}

h2 {
    font-family: 'Oswald', sans-serif; 
    margin: 0;
}

main {
    display: grid;
    
}

nav {
    background-color: black;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    padding: 0 25px;
    height: 10vh;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 3;
}

.navigation-box {
    position: relative;
}

.navigation {
    position: absolute;
    top: -9.9vh;
}


.menu-box {
    display: none;
}

.hamburger-box {
    height: 30px;
    width: 30px;
    grid-column: 1;
    grid-row: 2;
}

#hamburger-menu {
    display: none;
    width: 100%;
    height: 90vh;
    position: fixed;
    top: 10vh;
    z-index: 3;
}

.hamburger-menu-list {
    list-style: none;
    text-align: center;
    padding: 0;
    background-color: #211A21;
    color: white;
    margin: 0;
    font-size: 30px;
    border-top: solid 4px white;
}

.hamburger-menu-list li:last-of-type{
    border-bottom: none;
}

.hamburger-menu-item {
    border-bottom: 3px solid #585358;
    padding: 20px 0;
}



#menu-opaque {
    background-color: rgba(0, 0, 0, 0.61);
    width: 100%;
    height: 100%;
}

#hamburger-icon {
    font-family: fontawesome;
    font-style: normal;
    font-size: 30px;
    color: white;
}

.icons-box {
    height: 30px;
    width: 70px;
    grid-column: 12;
    grid-row: 2;
    display: flex;
    justify-content: space-around;
}

#facebook-icon {
    font-family: fontawesome;
    font-style: normal;
    font-size: 30px;
    color: white;
    cursor: pointer;
}

#facebook-icon:hover {
    color: #DB9E69;
}

#instagram-icon {
    font-family: fontawesome;
    font-style: normal;
    font-size: 30px;
    color: white;
    cursor: pointer;
}

#instagram-icon:hover {
    color: #DB9E69;
}

header {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    overflow-x: hidden;
    height: 90vh;
}

.video-container {
    grid-column: 1/13;
    height: 90vh;
    width: 100%;
}

video {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.logo-button-container {
    padding: 0 15px;
    grid-column: 1/13;
    height: 90vh;
    position: relative;
    bottom: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.logo-box {
    height: auto;
    width: 100%;
    grid-row: 3;
    max-width: 500px;
}

.logo-box img {
    width: 100%;
}

.logo-button-container button{
    grid-row: 10;
    cursor: pointer;
}

.container {
    display: grid;
    grid-column: span 12;
    padding: 0 15px;
    position: relative;
}


.intro-section {
    background-color: #211A21;
    height: 500px;
}

.intro-section-text {
    color: #E0DDD9;
    padding: 0 15px;
    text-align: center;
    height: 110vh;
    grid-column: span 12;
}

.intro-section-text h1 {
    border-bottom: solid #E0DDD9 2px;
}

.intro-section-text p {
    line-height: 1.3;
    min-height: 150px;
}

.intro-section-image-dots {
    height: 50vh;
    position: absolute;
    top: -150px;
    display: flex;
    flex-flow: column;
    align-items: center;
    width: 100%;
}

.intro-section-image {
    background-color: #FFFFF3;
    height: 200px;
}

.intro-box-image {
    width: 350px;
}

.intro-box-image img {
    border-radius: 10px;
}

.pic-auto {
    display: block;
    width: 100%;
}

.pic-auto img {
    width: 100%;
}

.intro-section-dots {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 150px;

}

.intro-section-dot {
    background-color: #D0D0D0;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    margin-top: 15px;
}

.tours-section {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    background-color: #FFFFF3;
}


.tours-section .container{
    padding: 0;
}

.tours-slider{
    position: relative;
    overflow-x: hidden;
    background-color: #211A21;
}

.tours-container {
    display: flex;
    flex-direction: row;
    position: relative;
    transition: all 0.3s ease-in-out;
}

.tours-picture {
    height: 350px ;
    width: 300px;
}

.tours-picture img {
    width: 100%;
}

.tours-img-and-text {
    height: 350px ;
    width: 300px;
}

.tours-text {
   display: none; 
}


.tours-img-and-text:hover .tours-text {
    background: rgba(50, 50, 50, 0.7);
    opacity: 0.8;
    color: white;
    height: 350px ;
    width: 300px;
    position: relative;
    top: -350px;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}



.tours-title-box {
    padding: 19px 30px;
    font-size: 22px;
    line-height: 41px;
}

.tours-features {
    padding: 30px;
    font-size: 18px;
    background: rgba(50, 50, 50, 0.5);
    opacity: 0.8;
}

.tours-type, .tours-price {
    font-weight: bold;
}

.book-now-button {
    width: 100%;
    padding: 0 15px;
    box-sizing: border-box;
    margin: 30px 0;
}

.book-now-button button {
    width: 100%;
    cursor: pointer;
}

.highlighted-paragraph {
    color: #E0DDD9;
    background-color: #211A21;
    width: 100%;
    height: fit-content;
    text-align: center;
    line-height: 2;
    font-size: 22px;
    padding: 40px 0;
}


.tour-arrows {
    color: rgba(255, 255, 255, 0.8);
    width: 90%;
    height: 350px;
    position: absolute;
    z-index: 2;
    font-size: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.fa-chevron-left {
    color: rgba(255, 255, 255, 0.8);
    position: absolute;
    top: 150px;
    left: 20px;
    z-index: 2;
    font-size: 50px;
}

#tours-right-arrow {
    color: rgba(255, 255, 255, 0.8);
    position: absolute;
    top: 150px;
    right: 20px;
    z-index: 2;
    font-size: 50px;
}




.safety-tile {
    background-color: white;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2), 0px 1px 10px rgba(0, 0, 0, 0.12), 0px 4px 5px rgba(0, 0, 0, 0.14);
    border-radius: 10px;
    margin-left: 15px;
    margin-bottom: 10px;
    height: 200px;
    width: 240px;
    display: flex;
    justify-content: center;
    cursor: pointer;
}


.safety-section {
    height: 360px;
    background-color: #FFFFF3;
}

.safety-section .container {
    padding: 0;
}

.safety-tile-content {
    display: flex;
}

.safety-tile:hover .safety-tile-content {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.safety-section h1{
    margin: 20px 15px;
    border-bottom: solid black 2px;
}

.safety-tiles-container {
    display: flex;
    position: relative;
    margin-left: 45px;
    transition: all 0.3s ease-in-out;
}

.tiles-slider {
    position: relative;
    overflow-x: hidden;
}

#safety-right-arrow {
    color: rgba(0, 0, 0, 0.3);
    position: absolute;
    top: 65px;
    right: 20px;
    z-index: 2;
    font-size: 50px;
}

#safety-left-arrow {
    color: rgba(0, 0, 0, 0.3);
    position: absolute;
    top: 65px;
    left: 20px;
    z-index: 2;
    font-size: 50px;
}

.safety-icon-and-title {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.safety-tile:hover .safety-icon-and-title {
    flex-direction: row;
    justify-content: center;
    min-width: 240px;
}

.safety-tile-title {
    width: 240px;
    display: flex;
    justify-content: center;
    font-weight: bold;
    font-size: 17px;
}

.safety-tile:hover .safety-tile-title {
    width: auto;
}

.safety-icon-background {
    background-color: #DB9E69;
    height: 75px;
    width: 75px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.safety-tile:hover .safety-icon-background {
    height: 43px;
    width: 43px;
    margin-right: 10px;
}

.safety-icon-background i {
    color: white;
    font-size: 43px;
    
}

.safety-tile:hover .safety-icon-background i {
    font-size: 25px;
}

.safety-tile-paragraph {
    display: none;
}

.safety-tile:hover .safety-tile-paragraph {
    display: flex; 
    font-size: 13px;
    text-align: center; 
    padding: 0 25px;
    margin: 0;
    min-height: 115px;
    align-items: flex-start;
} 

.faq-meeting-section {
    background-color: #211A21;
}

.faq-meeting-section h1 {
    color: #ffffff;
    height: fit-content;
    width: 100%;
    border-bottom: white solid 2px;
}

.faq-section h1 {
    color: #E0DDD9;
    border-color: #E0DDD9;
}

h6 {
    color: #C3C3C5;
    padding: 10px;
    font-size: 18px;
    margin: 0;
    font-weight: bold;
}

.question-tiles {
    margin-bottom: 23px;
}

.question-tile {
    border: #C3C3C5 solid 1.4px;
    border-radius: 10px;
    margin-bottom: 8px;
    cursor: pointer;
    transition: ease .5s;
    padding: 0 15px;
}

.question-tile-shown {
    color: #211A21;
    background-color: white;
    border-radius: 10px;
    margin-bottom: 8px;
    transition: ease .5s;
    padding: 0 15px 15px 15px;
}

.question-tile-shown h6 {
    color:  #211A21;
    font-weight: bold;
}

.question-tile-shown .question-icon {
    transform: rotate(90deg);
    color:  #211A21;
    font-size: 18px;
    transition: ease .2s;
} 

.question-tile-shown p {
    display: block;
    padding: 10px 10px 0 10px;
    margin: 0;
}

.question-and-icon {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 10px;
}

.question-icon {
    color: #C3C3C5;
    font-size: 18px;
}

.question-tile p {
    display: none;
}

.meeting-section {
    padding: 15px;
    background-color: black;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.map-container {
    height: 360px;
    width: 100%;
    filter: grayscale(100%);
}

.map-container img {
    width: 100%;
}

.booking-section {
    height: 600px;
    background-color: #FFFFF3;

}

.booking-section h1{
    border-bottom: solid black 2px;
}

.booking-section .container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#full-name {
    height: 40px;
} 

#email {
    height: 40px;
}

#message{
    padding-top: 15px;
    padding-bottom: 100px;
}

form {
    display: grid;
    margin-bottom: 40px;
    grid-row-gap: 5px;
}

input {
    border-radius: 10px;
    border:  #C3C3C5 solid 1.4px;
    font-family: 'Lato', sans-serif;
    padding-left: 15px;
    outline-color: transparent;
}

footer {
    padding: 15px;
    background-color: black;
    color: white;
    height: 90px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}

.footer-text p {
    margin: 0;
}

button {
    background-color: black;
    color: white;
    font-family: 'Lato';
    height: 50px;
    width: 100%;
    border-style: none;
    border-radius: 8px;
    font-weight: bold;
    font-size: 20px;
    padding: 0 40px;
    outline-color: transparent;
}



@media screen and (min-width: 700px) {

    button {
        background-color: black;
        color: white;
        font-family: 'Lato';
        height: 50px;
        width: 100%;
        max-width: 250px;
        border-style: none;
        border-radius: 8px;
        font-weight: bold;
        font-size: 20px;
        padding: 0 40px;
    }

    .intro-section-text p {
        line-height: 1.3;
        min-height: 0em;
        font-size: 18px;
        padding: 0 60px;
    }

    .book-now-button {
        display: flex;
        justify-content: center;
    }

    .send-button {
        display: flex;
        align-self: flex-end;
        justify-content: center;
        cursor: pointer;
    }

    footer {
        padding: 5px 25px;
        height: 10vh;
        
    }
}

@media screen and (min-width: 916px) {
    
    #hamburger-icon {
        display: none;
    }

    button:hover{
        background-color: white;
        color: black;
        border: 1px solid #211A21;
    } 

    h1 {
        font-size: 40px;
        text-align: left;
    }

    .menu-box {
        display: grid;
        height: 30px;
        grid-column-start: 1;
        grid-column-end: 5;
        grid-row: 2;
        display: flex;
        justify-content: space-between;
        align-items: center;
        min-width: 400px;
    }

    .menu-list {
        list-style: none;
        color: white;
        padding: 0;
        display: contents;
    }

    .menu-list-item {
        margin-right: 15px;
        cursor: pointer;
    }

    .menu-list-item:hover {
        color: #DB9E69;
    }

    .intro-main-container {
        display: flex;
    }

    .intro-section {
        width: 65%;
        display: flex;
        align-items: center;
    }

    .container-intro {
        padding: 60px 180px 80px 80px;
    }

    .intro-section-text {
       text-align: left;
       height: auto;
    }
    
    .intro-section-text h1 {
        margin: 0;
    }

    .intro-section-text p {
        line-height: 1.3;
        min-height: 0em;
        padding: 0px;
    }

    .intro-section-image {
        width: 18%;
    }

    .intro-section-image-dots {
        height: 300px;
        position: absolute;
        top: 100px;
        display: flex;
        flex-flow: column;
        align-items: center;
        width: 100%;
    }

    .intro-box-image img {
        height: 100%;
        width: 100%;
    }

    .tours-container {
        display: flex;
        flex-wrap: wrap;
        height: auto;
        position: unset;
    }

    .tours-img-and-text {
        height: auto;
        width: 33.33%;
        position: relative;
    }

    .tours-picture {
        width: 100%;
        overflow-y: hidden;
    }

    .tours-img-and-text:hover .tours-text {
        height: 100%;
        width: 100%;
        position: absolute;
        top: 0;
    }

    #tours-right-arrow,
    #tours-left-arrow {
        display: none;
    }

    .container-highlighted {
        padding: 0 100px;
    }

    .safety-section {
        height: auto;
        padding: 50px;
    }

    .safety-tiles-container {
        flex-wrap: wrap;
        justify-content: center;
        position: unset;
        margin-left: 0px;
    }

    .safety-tile {
        width: 30%;
        min-width: 240px;
        justify-content: center;
    }

    #safety-right-arrow {
        display: none;
    }

    #safety-left-arrow {
        display: none;
    }


    .faq-meeting-section {
        display: flex;
    }

    .container-faq {
        width: 50%;
    }

    .faq-section {
        padding: 15px 15px 20px 50px;
    }

    .meeting-section {
        padding: 15px 65px 45px 30px;
        width: 50%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .booking-section {
        padding: 50px;
    }

    .booking-section h1{
        margin-top: 0;
    }

    #message {
        padding-bottom: 170px;
    }

    .name-mail-container {
        display: flex;
        justify-content: space-between;
    }

    .name-container {
        width: 48.5%;
    }

    .email-container {
        width: 48.5%;
    }
}